// It's highly recommended to change the default colors
// to match your app's branding.

// ======================================================
// O V E R R I D I N G   V A R I A B L E S 
// ======================================================

// Colors Scheme
$primary   : #027BE3;
$secondary : #26A69A;
$accent    : #9C27B0;
$gold      : #f6cd51;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

// Tooltip
$tooltip-background : black !default;

// Quasar variables
@import '~quasar-variables-styl'
