<template>
    <div>
        <div class="q-pa-sm">
            <div class="row">
                <div class="col-2 bg-greeny-dark q-pa-md">
                    
                </div>
                <div class="col-sm-10 bg-golden-dark q-pa-md">

                </div>
            </div>
        </div>    
    </div>
</template>

<script>
export default {
  name: "Index",
  components: {},
};
</script>
