<template>
    <!-- <keep-alive> -->
    <router-view></router-view>
    <!-- </keep-alive> -->
</template>

<script>
export default {
    name: "App",
    components: {},
};
</script>

<style lang="scss">
    body {
        background-color: #FFFF;
    }

    // input
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
